<!doctype html>
<html class="no-js" lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> مجله | @ViewData["Title"]</title>
    <meta name="description" content="Zaira - قالب HTML خبری و مجله ">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="~/assets/css/default.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
</head>
<body>

    <!-- preloader -->
    <div id="preloader">
        <div class="loader-inner">
            <div id="loader">
                <h2 id="bg-loader">زایرا<span>.</span></h2>
                <h2 id="fg-loader">زایرا<span>.</span></h2>
            </div>
        </div>
    </div>
    <!-- preloader-end -->
    <!-- Dark/Light-toggle -->
    <div class="darkmode-trigger">
        <label class="modeSwitch">
            <input type="checkbox">
            <span class="icon"></span>
        </label>
    </div>
    <!-- Dark/Light-toggle-end -->
    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <!-- Scroll-top-end-->
    <!-- header-area -->
    <header>
        <div id="header-fixed-height"></div>
        <div id="sticky-header" class="menu-area">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-12">
                        <div class="menu-wrap">
                            <div class="row align-items-center g-0">
                                <div class="col-xl-5">
                                    <div class="header-left-side">
                                        <div class="offcanvas-toggle">
                                            <a href="javascript:void(0)" class="menu-tigger">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </a>
                                        </div>
                                        <div class="navbar-wrap main-menu d-none d-xl-flex">
                                            <ul class="navigation">
                                                <li><a asp-page="/index">خانه</a></li>
                                                <li><a asp-area="Administrator" asp-page="/Index">پنل ادمین</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4">
                                    <div class="logo text-center">
                                        <a href="index.html"><img src="~/assets/img/logo/logo.png" alt="لوگو"></a>
                                    </div>
                                    <div class="logo d-none text-center">
                                        <a href="index.html"><img src="~/assets/img/logo/w_logo.png" alt="لوگو"></a>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-9 col-md-8">
                                    <div class="header-right-side">
                                        <div class="header-search-wrap">
                                            <form action="blog.html#">
                                                <input type="text" placeholder="جستجو کنید . . .">
                                                <button type="submit"><i class="flaticon-search"></i></button>
                                            </form>
                                        </div>
                                        <div class="header-action d-none d-md-block">
                                            <ul class="list-wrap">
                                                <li class="header-wishlist">
                                                    <a href="blog.html#"><i class="flaticon-heart"></i><span>0</span></a>
                                                </li>
                                                <li class="header-sine-in">
                                                    <a href="contact.html"><i class="flaticon-user"></i>ورود</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                        </div>

                        <!-- Mobile Menu  -->
                        <div class="mobile-menu">
                            <nav class="menu-box">
                                <div class="close-btn"><i class="fas fa-times"></i></div>
                                <div class="nav-logo">
                                    <a href="index.html"><img src="~/assets/img/logo/logo.png" alt="لوگو"></a>
                                </div>
                                <div class="mobile-search">
                                    <form action="blog.html#">
                                        <input type="text" placeholder="جستجو کنید...">
                                        <button><i class="flaticon-search"></i></button>
                                    </form>
                                </div>
                                <div class="menu-outer">
                                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                                </div>
                                <div class="social-links">
                                    <ul class="clearfix list-wrap">
                                        <li><a href="blog.html#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="blog.html#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="blog.html#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="blog.html#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="blog.html#"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="menu-backdrop"></div>
                        <!-- End Mobile Menu -->

                    </div>
                </div>
            </div>
        </div>

        <!-- offCanvas-area -->
        <div class="offCanvas-wrap">
            <div class="offCanvas-body">
                <div class="offCanvas-toggle">
                    <span></span>
                    <span></span>
                </div>
                <div class="offCanvas-content">
                    <div class="offCanvas-logo logo">
                        <a href="index.html" class="logo-dark"><img src="~/assets/img/logo/logo.png" alt="لوگو"></a>
                        <a href="index.html" class="logo-light"><img src="~/assets/img/logo/w_logo.png" alt="لوگو"></a>
                    </div>
                    <p>استدلال به نفع استفاده از متن پرکننده چیزی شبیه به این است: اگر در هر زمان که به آن برسید ، از هرگونه محتوای واقعی در فرآیند مشاوره استفاده می کنید.</p>
                    <ul class="offCanvas-instagram list-wrap">
                        <li><a href="assets/img/blog/hr_post01.jpg" class="popup-image"><img src="~/assets/img/blog/hr_post01.jpg" alt="تصویر"></a></li>
                        <li><a href="assets/img/blog/hr_post02.jpg" class="popup-image"><img src="~/assets/img/blog/hr_post02.jpg" alt="تصویر"></a></li>
                        <li><a href="assets/img/blog/hr_post03.jpg" class="popup-image"><img src="~/assets/img/blog/hr_post03.jpg" alt="تصویر"></a></li>
                        <li><a href="assets/img/blog/hr_post04.jpg" class="popup-image"><img src="~/assets/img/blog/hr_post04.jpg" alt="تصویر"></a></li>
                        <li><a href="assets/img/blog/hr_post05.jpg" class="popup-image"><img src="~/assets/img/blog/hr_post05.jpg" alt="تصویر"></a></li>
                        <li><a href="assets/img/blog/hr_post06.jpg" class="popup-image"><img src="~/assets/img/blog/hr_post06.jpg" alt="تصویر"></a></li>
                    </ul>
                </div>
                <div class="offCanvas-contact">
                    <h4 class="title">در تماس باشید</h4>
                    <ul class="offCanvas-contact-list list-wrap">
                        <li><i class="fas fa-envelope-open"></i><a href="mailto:info@webmail.com">info@webmail.com</a></li>
                        <li><i class="fas fa-phone"></i><a href="tel:88899988877">888 999 888 77</a></li>
                        <li><i class="fas fa-map-marker-alt"></i> 12/A, اخبار, ان وای سی</li>
                    </ul>
                    <ul class="offCanvas-social list-wrap">
                        <li><a href="blog.html#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="blog.html#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="blog.html#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="blog.html#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="offCanvas-overlay"></div>
        <!-- offCanvas-area-end -->
    </header>
    <!-- header-area-end -->
    <!-- main-area -->
    <main>
        @RenderBody()
    </main>
    <!-- main-area-end -->
    <!-- footer-area -->
    <footer>
        <div class="footer-area">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-7">
                            <div class="footer-widget">
                                <div class="fw-logo">
                                    <a href="index.html"><img src="~/assets/img/logo/w_logo.png" alt=""></a>
                                </div>
                                <div class="footer-content">
                                    <p>کره قهوه ای و قهوه ای قند قهوه ای کارامل ، لبه های ترد و ضخیم و نرم و گودال های کوچک شکلات.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-5 col-sm-6">
                            <div class="footer-widget">
                                <h4 class="fw-title">شرکت</h4>
                                <div class="footer-link-wrap">
                                    <ul class="list-wrap">
                                        <li><a href="about.html">درباره ما</a></li>
                                        <li><a href="contact.html">آشپزخانه تست</a></li>
                                        <li><a href="contact.html">مرور کردن</a></li>
                                        <li><a href="contact.html">مناسبت ها</a></li>
                                        <li><a href="contact.html">شغل ها</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="footer-widget">
                                <h4 class="fw-title">کمک بگیر</h4>
                                <div class="footer-link-wrap">
                                    <ul class="list-wrap">
                                        <li><a href="contact.html">تماس و سؤالات متداول</a></li>
                                        <li><a href="contact.html">بو و بازده</a></li>
                                        <li><a href="contact.html">کارت هدیه</a></li>
                                        <li><a href="contact.html">ثبت نام</a></li>
                                        <li><a href="contact.html">کاتالوگ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="footer-widget">
                                <h4 class="fw-title">کاوش کردن</h4>
                                <div class="footer-link-wrap">
                                    <ul class="list-wrap">
                                        <li><a href="contact.html">فروشگاه</a></li>
                                        <li><a href="contact.html">دستور پخت</a></li>
                                        <li><a href="contact.html">غذا</a></li>
                                        <li><a href="contact.html">مسافرت رفتن</a></li>
                                        <li><a href="contact.html">خط تلفن</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="footer-widget">
                                <h4 class="fw-title">ما را دنبال در</h4>
                                <div class="footer-link-wrap">
                                    <ul class="list-wrap">
                                        <li><a href="blog-2.html">فیس بوک</a></li>
                                        <li><a href="blog-2.html">توییتر</a></li>
                                        <li><a href="blog-2.html">اینستاگرام</a></li>
                                        <li><a href="blog-2.html">یوتیوب</a></li>
                                        <li><a href="blog-2.html">پانترست</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-shape" data-background="assets/img/images/footer_shape.png"></div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-bottom-menu">
                                <ul class="list-wrap">
                                    <li><a href="contact.html">سیاست حفظ حریم شخصی </a></li>
                                    <li><a href="contact.html">اعتبار سایت</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="copyright-text">
                                <p>© 2023 کلیه حقوق محفوظ است . توسط <a href="#">فرهام اقدسی</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area-end -->
    <!-- JS here -->
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/swiper-bundle.js"></script>
    <script src="~/assets/js/ajax-form.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
